@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Datepicker Reset Style */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
  top: 6px;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
  padding: 0 5px;
}

.react-datepicker__header__dropdown {
  margin-top: 0.5rem;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
  border-radius: 0.25rem;
}
